body {
  margin-top: 65px;
}
.navbar-header {
  position: relative;
  top: -4px;
}
.navbar-brand > .icon-banner {
  position: relative;
  top: -2px;
  display: inline;
}
.icon {
  position: relative;
  top: -10px;
}
.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}
.page-consent .client-logo {
  float: left;
}
.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}
.page-consent .consent-buttons {
  margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.page-consent .consent-form .consent-description {
  margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
  font-weight: normal;
}
.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}
.grants .page-header {
  margin-bottom: 10px;
}
.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.grants .grant img {
  width: 100px;
  height: 100px;
}
.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}
.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant li {
  list-style-type: none;
  display: inline;
}
.grants .grant li:after {
  content: ', ';
}
.grants .grant li:last-child:after {
  content: '';
}





body.manage-body {
    background-color: #fafafa;
}

.body-manage-content {
    max-width: 1000px;
    margin: 0 auto;
}

.body-login-content {
    max-width: 500px;
    margin: 0 auto;
}

.card-content {
    padding: 1rem;
}

.main-card-logo {
    max-width: 100px;
    margin: 2.5rem auto 2rem auto;
}

.mdc-button.button-google {
    background-color: #d73d32;
}

.mdc-form-field {
    width: 100%;
    margin-bottom: 0.5em;
}

.mdc-text-field {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.main-card {
    padding: 1rem;
}

.separator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0,0,0,.54);
}

    .separator .text {
        display: inline-flex;
        position: relative;
        padding: 0 8px;
        z-index: 9999;
    }

        .separator .text:before {
            content: '';
            display: block;
            width: 30px;
            position: absolute;
            top: 10px;
            border-top: 1px solid rgba(0,0,0,.12);
            right: 100%;
        }


        .separator .text:after {
            content: '';
            display: block;
            width: 30px;
            position: absolute;
            top: 10px;
            border-top: 1px solid rgba(0,0,0,.12);
            left: 100%;
        }

.p-0 {
    padding: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}


.mb-1 {
    margin-bottom: 0.3rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 0.3rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.3rem;
}


.text-danger {
    color: #f44336;
}

.mat-form-field-subscript-wrapper {
    font-size: 12px;
    text-align: left;
    margin-top: -5px;
    position: absolute;
}

.ml-auto {
    margin-left: auto;
}

.link {
    color: #039be5;
    font-size: .875rem;
    text-decoration: none;
}

    .link:hover {
        text-decoration: underline;
    }


.validation-summary-errors ul {
    padding: 0;
    list-style: none;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:hover.input-validation-error,
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input.input-validation-error {
    border-bottom-color: #f44336;
}

.mdc-text-field:not(.mdc-text-field--disabled) .input-validation-error {
    border-bottom-color: #f44336;
}

    .mdc-text-field:not(.mdc-text-field--disabled) .input-validation-error + .mdc-floating-label {
        color: #f44336;
    }

.mdc-text-field__input.input-validation-error + .mdc-floating-label + .mdc-line-ripple {
    background-color: #f44336;
}



.circle-loader {
    margin-top: 30px;
    margin-bottom: 2em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 800ms ease-out;
}

.checkmark.draw:after {
    animation-duration: 1200ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: "";
    left: 1.75em;
    top: 3.5em;
    position: absolute;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }

    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }

    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}

.register-message {
    margin: 0px 0px 30px 0;
    text-align: center;
}











.text-left {
    text-align: left;
}



.app-dataview.dataview-list .dataview-row {
    padding: 24px;
}


    .app-dataview.dataview-list .dataview-row + .dataview-row {
        border-top: 1px solid #ddd;
        margin-top: 0px;
    }

.app-dataview.dataview-list .content-label {
    flex: 1 50%;
    margin-left: 0.7rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.app-dataview.dataview-list .dataview-info {
    flex: 1 50%;
    overflow: auto;
    text-align: left;
}

    .app-dataview.dataview-list .content-label > h3 {
        font-weight: normal;
        text-align: left;
        margin-top: 0;
    }




.app-dataview {
    display: flex;
    flex-direction: column;
}

    .app-dataview .dataview-row {
        display: flex;
        flex-direction: row;
    }

        .app-dataview .dataview-row + .dataview-row {
            margin-top: -0.7rem;
        }

    .app-dataview .content-label {
        margin-left: 0.7rem;
        margin-bottom: 0;
    }

    .app-dataview .content-label {
        flex: 1 20%;
        margin-left: 0.7rem;
        margin-bottom: 0;
    }

    .app-dataview .dataview-info {
        flex: 1 80%;
        overflow: auto;
    }

        .app-dataview .content-label > h3 {
            text-align: right;
            font-size: 14px;
            display: block;
            position: relative;
            margin-bottom: 0px;
        }

@media (max-width: 959px) {
    .app-dataview .content-label > h3 {
        text-align: left;
    }
}


.management-block {
    margin-bottom: 5rem;
}

    .management-block > div {
        margin-top: 1rem;
    }

.management-info {
    flex: 1 1 40%;
    margin-right: 20px;
    color: rgba(0,0,0,0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.management-content {
    flex: 1 1 60%;
}

.success-message {
    background-color: #009688;
    color: #fff;
}