@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Email";
}

<section class="card-content">
    <div class="text-center">
        <div id="circle-loader" class="circle-loader">
            <div id="checkmark" class="checkmark draw" style="display:none;"></div>
        </div>
    </div>
    <div class="mdc-typography--headline6 text-uppercase">@</div>
    <br />

    <div class="mt-3">
        <p>
            @Localizer["Thank you for confirming your email. Please"] <a asp-controller="Account" asp-action="Login" class="link">Click here to Log in</a>.
        </p>
    </div>
    <br />
    <br />
</section>
<script type="text/javascript">setTimeout(() => {
        document.getElementById("circle-loader").classList.add("load-complete");
        document.getElementById("checkmark").style.display = "";
}, 900)</script>
