@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="mdc-typography--headline6 text-uppercase">@Localizer["Forgot your password?"]</div>
@*<p>
        For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
    </p>*@

<section class="card-content">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field">
                <input asp-for="Email" type="text" class="mdc-text-field__input">
                <label asp-for="Email" class="mdc-floating-label">@Localizer["Email"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" name="button" class="mdc-button  mdc-button--raised" value="login">@Localizer["Submit"]</button>
        </div>
    </form>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
