@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="mdc-typography--headline6 text-uppercase">@Localizer["Forgot Password Confirmation"]</div>
<section class="card-content">
    <p>
        @Localizer["Please check your email to reset your password."]
    </p>
</section>
