@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="mdc-typography--headline6 text-uppercase">@Localizer["Reset password confirmation"]</div>
<section class="card-content">
    <p>
        @Localizer["Your password has been reset. Please"] <a asp-controller="Account" asp-action="Login" class="link">@Localizer["Click here to log in"]</a>
    </p>
</section>